* {
  box-sizing: border-box;
} 
body{
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  user-select: none;
}

.container{
  max-width: 1280px;
  /*height: 100%;*/
  background-color:#f1f1f1;
  margin: auto;

}

.header{
  width: 100%;
  height: 50px;
  background-color: ivory;
  display: flex;

}
.image-container{
  width:100%;
  height: 120px;
  
  background-image: url(../assets/Screenshot\ \(3\).png);

}
.buttons{
  width: 190px;
  border-radius: 1px;
  background-color: #fdfdfd;
  border: solid 0.5px #383838;
  float: right;
  margin:20px 25px 0px 0px;

}
.my-profile{
  width:40%;
  float: left;
  text-align: center;
  border-right: 0.5px solid #4a4a4a;
  padding: 2px;
  font-size: 12px;
}
.contact{
  width: 40%;
  font-size: 12px;
  text-align: center;
  float: left;
  border-right: 0.5px solid #4a4a4a;
  padding: 2px;
}
.dropbtn {
  min-width:100%;
  background-color: #ffffff; 
  color:#4a4a4a;
  font-size: 11px;
  border: none;
  cursor: pointer;
}
  .dropbtn:hover, .dropbtn:focus {
  background-color:#ddd;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  border: 0.5px solid #4a4a4a;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.a{
  min-width: 16px;
  object-fit: contain;
  padding: 2px 0 0 4px;
}
.A{
  width:15%;
  background-color: #ffffff;
  float: left;
  margin-top: 0.5px;
}
.logo-img{
  width: 78%;
  height: 100%;
  object-fit:cover;
  
}
.logo{
  /* width: 20%; */
  align-items:center;
  margin-left: 30px;
}
.header-navigation{
  min-width:60%;
  display: flex;
  justify-content: center;
}
.candidate-profile{
  min-width:20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-nav-lables{
    /*height: 100%;*/
    font-family: sans-serif;
    font-size: 7px;
    text-align: center;
    cursor: pointer;
    margin: 20px 25px;
    
}
.active, .header-nav-lables:hover{color: #65b32e}
.welcome{
  width:50%;
  font-size: 8px;
  display: inline-block;


}
.lasedi{
  width:100%;
  font-size: 10px;
  display:inline-block;
}
.candidate-container{
  min-width:100px;
  box-sizing: border-box;
}
.icon{
  width:26%;
  display: inline-block;
  cursor: pointer;
}
.wel-come{
  width:69%;
  display:inline-block;
}
.image{
  width: 20px;
  height: 20px;
  object-fit: contain;
}
/*.log-out-container{
}*/
.log-out{
  width: 50px;
  font-style: normal;
  text-align: center;
  /*float: right;*/
  font-size: 7px;
  border-radius: 3px;
  border: solid 1.2px #4a4a4a;
  /* margin: 0px 12px 0px 0px; */
  padding: 4px;
  color: #383838;
  cursor: pointer;

  
}
header ul{
  list-style:none;
  margin: 0;
  padding: 0;
}

.background-image {
  width: 100%;
  height: 100%;
  }
.head-two{
    border: 1px solid black;
    text-align: center;
    margin:8px 8px;
    padding: 1px;
    box-sizing: border-box;
    border-radius: 10px;

  }
 .body-section{
    width: 95%;
    background-color: white;
    margin: 0 auto 60px;
  }
 .dashboard-bar{
    width:100%;
    background-color: white;
    font-family: sans-serif;
    font-style: normal;
    font-size: 9px;
    padding: 10px 0 10px 10px;
    border-bottom: solid 1px #d9e0e6;
  
  }
  /*.rectangle-back{
    width:25%;
    height: 40px;
    padding-left: 20px;
  }*/
  
  .sub-section{
    width:100%;
    position: relative;

  }
 .sub-section-one{
    width:74%;
    box-sizing: border-box;
    float: left;
    
  }

  .widgets-container{
    display: none;
  }
  .widget-article{
    width:90%;
    float: left;
  }
  
  .widget-content{
    width:30%;
    min-height: 200px;
    float: left;
    background-color: #ffffff;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.07);
    margin: 10px;
    padding: 20px 10px;
    box-sizing: border-box;
    color: #4a4a4a;
    position: relative;

  }
  .tickmark{
    height: 20px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    object-fit: contain;
  }

  .active .tickmark{
    display: flex;
  }
  .active.widget-content{
    border: 1px solid #81cc48;
  }
  .widget-content:hover{
    background-color: #fdfdfd;
    cursor: pointer;

  }
  .tick-mark{
    width:5px;
    height: 5px;
  }
  .checkbox-one{
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: solid 2px #383838;
  border: solid 2px var(--black);
  float: right;
  }
  
  .widget-font-type{
    font-size: 14px;  
    margin: 4%;
    text-align: center;
   }
  .widget-summary{
    font-size: 10px;
    margin: 0px;
    text-align: center;

  }
  .Fixed-Deposit {
    width: 55%;
    height:8px;
    margin: 15px 0px 5px 32px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 11px;
    font-stretch: normal;
    line-height: normal;
    text-align: center;
     
  }
  .summary-of{
  width: 95%;
  height: 30%;
  font-size: 9px;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: o;
  text-align: center;
  color: #4a4a4a;

  }
  .widget-img1{
    width: 60%;
    height: 80px;
    object-fit: contain;
    margin:  0% 0% 0% 20%;
  }
  .widget-img2{
    width: 50%;
    height: 80px;
    object-fit: contain;
    margin: 0% 0% 0% 28%; 
  }
  .widget-filter-bar{
    width:100%;
    
  }
  
  .filter-dropdown{
   /* min-width:20%; */
   position: absolute;
   top: 0;
   right: 0;
   box-sizing: border-box;
   margin: 8px 16px;
   border-radius: 3px;
   background-color: #ffffff;
   border: solid 1px #d9e0e6;
  }
  .widget-bar{
    min-width:150px;
    box-shadow: 0px 0px 4px 0px  #4a4a4a rgba(0, 0, 0, 0.07);
    
  }
  .widget-filter{
    min-width:50%;
    text-align: center;
    padding: 4%;
    font-style: normal;
    font-size: 14px;
    display: inline-block;

  }
  .i{
    width:20px;
    object-fit: contain;
    float: right;
    padding-right: 8px;
    padding-top: 8px;
    cursor: pointer;

  }
  .line1{
    width: 100%;
    height: 3px;
    border: solid 1px #c6cfd9;
  }
  .activity-widgets{
    width:100%;
    font-size: 3px;
    border-bottom: 0.5px dashed #4a4a4a;
    box-sizing: border-box;
    padding: 10px 8px 8px 8px ;
    color: #4a4a4a;
  } 
  .checkbox{
    font-size: 10px;
    padding-bottom: 5px;
    
  }
.checkbox-type{
  font-weight: bold;
  font-size: 10px;
  padding-bottom: 8px;
}
.check-box-style{
  margin-right: 3px;
}
.functionality-widgets{
  width:100%;
  font-size: 3px;
  border-bottom: 0.5px dashed #4a4a4a;
  padding: 10px 8px 8px 8px;
  box-sizing: border-box;
  color: #4a4a4a;
}
.widget-status{
  width: 100%;
  padding: 10px 8px 16px 8px;
  box-sizing: border-box;
  font-size: 4px;
  color: #4a4a4a;
  
}
.search-bar{
  width:95%;
  padding: 3px;
  border-radius: 2px;
  color: #4a4a4a;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 2px 0 0 #c6cfd9;
  background-color: #ffffff;
  border: solid 1px #c6cfd9;
  margin: 2px auto;
  
}
.widget-library{
  width:100%;
  padding: 10px 0px 0px 5px;
  display: inline-block;
}
.back-symb{
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}
.library{
  width:80%;
  display: inline-block;
  padding-left: 10px;
}
.back-button{
  width:10%;
  box-sizing: border-box;
  padding: 10px;
  float: left;
}
.widget-section{
  width:40%;
  box-sizing: border-box;
  float: left;
}

.bottom-bar{
  width: 90%;
  margin-top: 45px;
  display: block;
}
.page{
  font-size: 10px;
  float: right;
}
.bottom-button-bar{
  width:95%;
  margin: 25px auto 0;
  padding-bottom: 30px;
  box-sizing: border-box;
  border-top: solid 1px #c6cfd9;
}
.main-bar{
  float: right;
  padding-top: 10px;
}
.back-btn{
  min-width:60px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 8px;
  border-radius: 2px;
  box-shadow: 0 2px 0 0 #c6cfd9;
  background-color: #ffffff;
  border: solid 1px #c6cfd9;
  display: inline-block;
  cursor: pointer;
}
.button{
  min-width:60px;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 8px;
  border-radius: 2px;
  background-color: #75c039;
  display: inline-block;
  cursor: pointer;
}
.backsymbol{
  width:20%;
  display: inline-block;
}
.footer{
  width:100%;
  background-color: #ffffff;
  text-align: center;

}
.site-map{
  font-family: Roboto;
  font-size: 10px;
  font-weight: 300;
  font-family: sans-serif;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  padding: 8px 0 5px;
}
.cut-off-time{
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-family: sans-serif;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.4px;
  text-align: center;
  color: #9b9b9b;
  margin-bottom: 8px;
}
footer{
  font-family: sans-serif;
}
.down-mark{
  width:5px;
  height: 4px;
  object-fit: contain;
}
.page-number-bar{
  widows: 95%;
  margin: auto;
}
.page{
  width:10%;
  float: right;
}
.back-arrow{
  color: #75c039;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
.page-num{
  font-size: 10px;
  font-family: sans-serif;
  display: inline-block;
}

.dash{
  font-weight: bold;
  font-family: sans-serif;
  display: inline-block;
}
.dashline{
  font-size: 8px;
  font-family: sans-serif;
  display: inline-block;
}
.line-green{
  width:90%;
  float: right;
  height: 3px;
  background-color: #65b32e;
}
.line{
  width:100%;
  background-color: #ffffff;
}
.line-filler{
  width:1%;
  background-color: #81cc48;
  float: right;
  height: 3px;
}
.clearfix::after{
  content:"";
  clear: both;
  display: table;
}

@media only screen and(max-width:1080px){
  .container{
    width:100%;
  }
  .header{
    width:100%;
    font-size: 4px;
  }
  }
  
  

